@import "../config/index";

.login-form {
    @include card;
    width: 400px;
    padding: 30px;
    margin: 40px auto;
    background: #f7f7f7;

    &_submit {
        @include button;
        margin-left: 30%;
    }
}
